/* Сбрасывает ненужные стили */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Переменные */
:root {
  /* Colors */
  --accent-color: #2196f3;
  --bg-primary-color: #ffffff;
  --bg-secondary-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --header-logo-color: #000000;
  --footer-logo-color: #ffffff;
  --header-address-text-color: #757575;
  --footer-address-text-color: rgba(255, 255, 255, 0, 6);
  --heading-primary-text-color: #ffffff;
  --heading-secondary-text-color: #212121;
  --main-text-color: #757575;
}

/* Основные стили для body */
body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
}

.logo-header-apperience {
  color: var(--header-logo-color);
}

.logo-footer-apperience {
  color: var(--footer-logo-color);
}
